[submodule ".vim/pack/gnustomp/start/ale"]
	path = .vim/pack/gnustomp/start/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/pack/gnustomp/start/LaTeX-Box"]
	path = .vim/pack/gnustomp/start/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box
[submodule ".vim/pack/gnustomp/start/ListToggle"]
	path = .vim/pack/gnustomp/start/ListToggle
	url = https://github.com/Valloric/ListToggle
[submodule ".vim/pack/gnustomp/opt/tmuxline.vim"]
	path = .vim/pack/gnustomp/opt/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule ".vim/pack/gnustomp/start/vim-airline"]
	path = .vim/pack/gnustomp/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/gnustomp/start/vim-airline-themes"]
	path = .vim/pack/gnustomp/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/gnustomp/start/vim-fugitive"]
	path = .vim/pack/gnustomp/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/gnustomp/start/vim-gitgutter"]
	path = .vim/pack/gnustomp/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/gnustomp/opt/vim-hybrid"]
	path = .vim/pack/gnustomp/opt/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule ".vim/pack/gnustomp/start/vim-sensible"]
	path = .vim/pack/gnustomp/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".zim"]
	path = .zim
	url = https://github.com/Eriner/zim.git
[submodule ".vim/pack/gnustomp/start/vim-vinegar"]
	path = .vim/pack/gnustomp/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".vim/pack/gnustomp/start/neotex"]
	path = .vim/pack/gnustomp/start/neotex
	url = https://github.com/donRaphaco/neotex
[submodule ".vim/pack/gnustomp/start/vim-gutentags"]
	path = .vim/pack/gnustomp/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule ".vim/pack/gnustomp/start/vim-markdown"]
	path = .vim/pack/gnustomp/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/pack/gnustomp/start/gutentags_plus"]
	path = .vim/pack/gnustomp/start/gutentags_plus
	url = https://github.com/skywind3000/gutentags_plus
[submodule ".vim/pack/gnustomp/start/LanguageClient-neovim"]
	path = .vim/pack/gnustomp/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule ".vim/pack/gnustomp/start/deoplete-jedi"]
	path = .vim/pack/gnustomp/start/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi
[submodule ".vim/pack/gnustomp/start/deoplete.nvim"]
	path = .vim/pack/gnustomp/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".vim/pack/gnustomp/start/neco-syntax"]
	path = .vim/pack/gnustomp/start/neco-syntax
	url = https://github.com/Shougo/neco-syntax
[submodule ".vim/pack/gnustomp/start/nvim-yarp"]
	path = .vim/pack/gnustomp/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule ".vim/pack/gnustomp/start/vim-hug-neovim-rpc"]
	path = .vim/pack/gnustomp/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule ".vim/pack/gnustomp/start/vim-pandoc"]
	path = .vim/pack/gnustomp/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule ".vim/pack/gnustomp/start/vim-pandoc-syntax"]
	path = .vim/pack/gnustomp/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
